.container{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    flex-flow: row nowrap;
    background: #333;
}

.item{
    background: #2980b9;
    width: 200px;
    height: 200px;
    margin: 1rem;
}