* {
  margin: 0;
  padding: 0;
}

.container {
  background: #333;
  height: 100vh;
  display: flex;
  /* width: 500px; */
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  flex-flow: row nowrap;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.item {
  background: #2980b9;
  height: 200px;
  /* flex-basis: 200px; */
  /* flex: 1; */
  margin: 1rem;
}

.item-1{
    /* flex-shrink: 1; */
    /* flex-basis: 200px; */
    /* flex:1; */
    flex: 0 0 200px;
    align-self: flex-end;
    order: 2;
}

.item-2{
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: auto;
    order: 1;

}

/* .item-3{
    flex-grow: 2;
    flex: 1;
    flex-shrink: 2;
} */

/* .item-4{
    flex-basis: 200px;
    flex: 1;
    flex-shrink: 2;
} */